doctype html
html
  head
    title=title
    link(rel='stylesheet',href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    <!--[if lt IE 9]>
    script(type="text/javascript",src='/bower_components/html5shiv/dist/html5shiv.min.js')
    script(type="text/javascript",src='/bower_components/respond/dest/respond.min.js')
    <![endif]-->
    script(type='text/javascript',src='/bower_components/jquery/dist/jquery.min.js')
    script(type='text/javascript',src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(type='text/javascript',src='/socket.io/socket.io.js')
    script(type='text/javascript',src='/javascripts/fn.js')
    script(type='text/javascript',src='/javascripts/main.js')
  body
    block header
      include _header
    div#wrap
      block content
    block footer
      include _footer
