extends layout

block header

block content
  div.container
    form.form-horizontal#register-form(onsubmit='return false;')
      .form-group.has-feedback
        .col-sm-12.col-md-8.col-md-offset-2.col-lg-6.col-lg-offset-3
          input#register-user.form-control.border-line(type='text',name='username',placeholder='用户名')
          span.glyphicon.glyphicon-ok.form-control-feedback(aria-hidden='true')
      .form-group.has-feedback
        .col-sm-12.col-md-8.col-md-offset-2.col-lg-6.col-lg-offset-3
          input.form-control.border-line(type='text',name='password',placeholder='请输入密码')
          span.glyphicon.glyphicon-ok.form-control-feedback(aria-hidden='true')
      .form-group.has-feedback
        .col-sm-12.col-md-8.col-md-offset-2.col-lg-6.col-lg-offset-3
          input.form-control.border-line(type='text',placeholder='确认密码')
          span.glyphicon.glyphicon-ok.form-control-feedback(aria-hidden='true')
      .form-group
        .col-sm-12.col-md-8.col-md-offset-2.col-lg-6.col-lg-offset-3
          button.btn.btn-block.btn-primary.btn-lg(type='submit') 注册
    .text-center
      p.text-muted 已有账号？
        a(href="/users/login") 马上登陆

block footer
  footer.footer
    .container
      p.text-muted.text-center(style='margin:20px 0px;') 欢迎注册我们的网站
